body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.color-palette {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxcolor {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
}

#red {
    background-color: rgb(255, 0, 0);
    left:20%; /* new */
    top:20%; /* new */
    position: absolute; /* new */
}

#yellow {
    background-color: rgb(255, 255, 0);
    right:20%; /* new */
    top:20%; /* new */
    position: absolute; /* new */
}

#blue {
    background-color: rgb(0, 0, 255);
    left:20%; /* new */
    bottom:20%; /* new */
    position: absolute; /* new */
}

#x {
    background-color: white;
    color: #000;
    right:20%; /* new */
    bottom:20%; /* new */
    position: absolute; /* new */
}

.colormixer {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: white;
    border: 2px dashed #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}